@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
main {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.top-restaurants .slick-slide {
  padding-right: 25px;
  overflow: hidden;
  height: fit-content;
}

.top-restaurants .slick-list {
  height: auto;
  overflow: hidden;
}

.related .slick-slide {
  padding-right: 25px;
  overflow: hidden;
  height: fit-content;
}

.related .slick-list {
  height: auto;
  overflow: hidden;
}


@media (max-width: 768px) {
  .top-restaurants .slick-slide {
    margin-inline: 0px 5px;
  }

  .top-restaurants .slick-list {
    margin-inline: -5px -5px;
  }

  .related .slick-slide {
    margin-inline: 0px 5px;
  }

  .related .slick-list {
    margin-inline: -5px -5px;
  }
}

@media (max-width: 480px) {
  .top-restaurants .slick-slide {
    padding-inline: 0 0px;
    margin-inline: 0 0px;
  }

  .top-restaurants .slick-list {
    margin-inline: 0px 0px;
    padding-inline: 0px 0px;
  }

  .related .slick-slide {
    margin-inline: 0px 10px;
  }

  .related .slick-list {
    margin-inline: -5px -5px;
  }

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}